
{% extends 'layout.html' %}

{% block title %}
	all tweets
{% endblock %}

{% block content %}
   	<h1> Welcome to TweetX App </h1>
    <h2> {%  if form.instance.pk %} Edit Tweet {% else %} Create Tweet {% endif %} </h2>
    
    <form method="post" enctype="multipart/form-data" class="form" action="{% url 'createTweet' %}">
        {% csrf_token%}
        {{form.as_p}}
        
        <button class="btn btn-warning" type="submit"> Submit </button> <br> <br>
        <a href="{%url 'tweets'%}"> Back to Tweets</a>
    </form>
{% endblock %}
